<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComputerShop_Data_Colection_n_Navigation.Properties.Settings.Antipolo_Computer_ShopsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\vince\Downloads\DATABASE PROJECT 2023\Antipolo Computer Shops.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ComputerShop_Data_Colection_n_Navigation.Properties.Settings.Antipolo_Computer_ShopsConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\vince\Downloads\Antipolo Computer Shops.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ComputerShop_Data_Colection_n_Navigation.Properties.Settings.Antipolo_Computer_ShopsConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Antipolo Computer Shops.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>